# Sensitive files (DO NOT PUSH)
credentials.json
token.json
*.json

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# CV or personal files
*.pdf

# System files
.DS_Store


# Virtual Environment
.venv/
.env/

# Logs
*.log

# VS Code
.vscode/
